<div class="mainpage-wrapper">

  <div class="sidebar">
      <div class="newsletter-date"><%= @newsletter.created_at.strftime("%F") %></div>
      <div class="archive"><%= render 'shared/archive.html.erb' %></div>
  </div>


  <div class="content">
    <div class="newsletter">

      <div class="img-wrapper">
        <%= image_tag @newsletter.image, class: "newsletter__img" %>
        <h3 class="newsletter__title"><%= @newsletter.title %></h3>
      </div>
        <p class="newsletter__body"><%= @newsletter.body %></p>

        <%= link_to 'Edit', edit_newsletter_path(@newsletter) %>
      </div>
  </div>
</div>