<div class="mainpage-wrapper">

  <div class="sidebar">
      <div class="newsletter-date">
      <div class="newsletter-date__date"><%= @newsletter.created_at.strftime("%e %b") %></div>
      <div class="newsletter-date__year"><%= @newsletter.created_at.strftime("%Y") %></div>
      <div class="newsletter-date__arrow"></div>
    </div>
      <div class="archive"><%= render 'shared/archive.html.erb' %></div>
  </div>


  <div class="content">
    <div class="button-small button-new"><%= link_to 'New', new_newsletter_path %></div>
    <div class="newsletter">

      <div class="img-wrapper">
        <%= image_tag @newsletter.image, class: "newsletter__img" %>
        <h3 class="newsletter__title newsletter-link"><%= link_to @newsletter.title, newsletter_path(@newsletter) %></h3>
        <div class="newsletter-btn-one newsletter-link"><%= link_to 'Edit', edit_newsletter_path(@newsletter), class: "button-small" %></div>
        <div class="newsletter-btn-two newsletter-link"><%= link_to 'Delete', @newsletter, method: :delete, data: { confirm: 'Are you sure?' }, class: "button-small" %></div>
      </div>
        <div class="newsletter__body"><%= markdown @newsletter.body %></div>

      </div>
  </div>
</div>