
<div class="newsletter">

  <div class="img-wrapper">
    <%= image_tag @latest.image, class: "newsletter__img" %>
    <h3 class="newsletter__title newsletter-link"><%= link_to @latest.title, newsletter_path(@latest) %></h3>
    <div class="newsletter-btn-one newsletter-link"><%= link_to 'Edit', edit_newsletter_path(@latest), class: "button-small" %></div>
    <div class="newsletter-btn-two newsletter-link"><%= link_to 'Delete', @latest, method: :delete, data: { confirm: 'Are you sure?' }, class: "button-small" %></div>
  </div>

  <p class="newsletter__body"><%= @latest.body %></p>

</div>